*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg{
  width: 100%;
}
.counter{
  width: 40%;
  border: 2px solid black;
  margin: auto;
  text-align: center;
  margin-top: 125px;
  padding: 50px;
  background-color: black;
  border-radius: 40px;

}
.counter input,h1{
  padding: 6px 12px;
  margin: 10px;
  background-color: azure;
  color: black;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}